<div class="icon-bar vertical six-up">
  <a class="item" ng-click="resetFilter()">
    <i class="foundicon-globe"></i>
    <label>Dashboard</label>
  </a>
  <a class="item" ng-click="showSearch()">
    <i class="foundicon-search"></i>
    <label>Search</label>
  </a>
  <a class="item">
    <i class="foundicon-calendar"></i>
    <label>Archive</label>
  </a>
 
</div>