<li >
	<div class="row" data-equalizer>
		<div class="small-1 column" data-equalizer-watch>
			<span class="amount">$222</span>
		</div>
		<div class="small-5 column" data-equalizer-watch>
			<span class="description">Codeschool subscription</span>
			<span class="comment">Monthly fee for screencasts, full access to all courses.</span>
		</div>
		<div class="small-2 column" data-equalizer-watch>
			<time>July 08, 2014</time>
		</div>
		<div class="small-2 column left actions-buttons" data-equalizer-watch>
			<a href="#" class="button tiny">Edit</a>
			<a href="#" class="button alert tiny">Remove</a>
		</div>
	</div>
	<%= render 'expenses/form' %>
</li>