<div class="row filters">
<h3>Filter by:</h3>
<div class="small-3 column">
	<div class="row">
	  <div class="small-12 columns">
	  	<label>Amount</label>
	    <div class="range-slider" data-slider data-options="display_selector: #sliderOutput3;">
	      <span class="range-slider-handle"></span>
	      <span class="range-slider-active-segment"></span>
	    </div>
	  </div>
	  <div class="small-12 columns">
	  	Less than
	    $<span id="sliderOutput3"></span>
	  </div>
	</div>
</div>
<div class="small-3 column">
	<label>Text</label>
	<input type="text" placeholder="Description..." />
	<input type="text" placeholder="Comment..." />
</div>	
<div class="small-2 column left">
	<label>Between dates</label>
	<input type="text" placeholder="Start date..." />
	<input type="text" placeholder="End date..." />
</div>

</div><!-- end row -->