<!-- <div class="edit-expense-container row">
	<div class="small-1 column" data-equalizer-watch>
		<input type="text" placeholder="$0" />
	</div>
	<div class="small-5 column" data-equalizer-watch>
		<input type="text" placeholder="Description..." />
		<input type="text" placeholder="Comment..." />
	</div>
	<div class="small-2 column left" data-equalizer-watch>
		<input type="text" placeholder="July 08, 2014" />
		<input type="submit" value="Save" class="button small" />
		<a href="">Cancel</a>
	</div>
</div> -->