
<div class="content">
	<div ng-show="!filter">
		<%= render 'expenses/form' %>
	</div>
	<%= render 'expenses/filters' %>

	<ul class="expenses-list">
		<%= render 'expenses/expense' %>
	</ul>


</div><!-- end content -->